@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  max-width: 900px;
  float: none;
  margin: auto;
  font-family: 'Lato', sans-serif;
}

.portfolio {
  margin: 1rem 0;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  -webkit-column-width: 33.33333333333333%;
  -moz-column-width: 33.33333333333333%;
  column-width: 33.33333333333333%;
}

.project img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;

}

p {
  padding: 10px;
  border-bottom: 1px #ccc dotted;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #333;
  display: block;
  float: left;
}

p:hover {
  cursor: pointer;
  background: #333;
  color: #eee;
}

.filter, .filter-selected {
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  padding: .5rem 1rem;
  margin-right: 5px;
  height: auto;
  border: 1px solid;
  vertical-align: middle;
  -webkit-appearance: none;
  color: #555;
  background-color: rgba(0, 0, 0, 0);
}

.filter:hover, .filter-selected:hover {
  text-decoration: none;
}

.filter:focus, .filter-selected:focus {
  outline: none;
}

.filter-selected {
  color: white;
  background: #555;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.toolbar {
  margin-top: 20px;
  margin-bottom: 20px;
}

.portfolio-enter {
  opacity: 0.01;
  transform: scale(0.01);
}

.portfolio-enter.portfolio-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 500ms ease-in;
}

.portfolio-leave {
  opacity: 1;
  transform: scale(1);
}

.portfolio-leave.portfolio-leave-active {
  opacity: 0.01;
  transform: scale(0.01);
  transition: all 300ms ease-out;
}
