@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #23211f;
}

/*--------------------
Shop Card
---------------------*/
.card, .shop-card {
  background: #f5f5f5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
  border-radius: 5px;
  padding: 25px;
}

.shop-card {
  width: 350px;
  overflow: hidden;
  text-align: center;
  z-index: 2;
  margin: 20px auto;
}

figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
  outline: none !important;
}

figure > img {
  margin: -95px 0 -60px;
  width: 100%;
}

.title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
  color: #23211f;
  margin-bottom: 5px;
}

.desc {
  font-size: 17px;
  opacity: .8;
  margin-bottom: 3px;
}

.cta {
  padding: 20px 20px 5px;
}

.cta:after {
  content: '';
  display: table;
  clear: both;
}

.price {
  float: left;
  color: #d33f34;
  font-size: 22px;
  font-weight: 900;
  padding-top: 2px;
  transition: color .3s ease-in-out;
  margin-top: 4px;
}

.btn {
  position: relative;
  z-index: 1;
  float: right;
  display: inline-block;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  color: #d33f34;
  padding: 12px 18px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  line-height: .95;
  border: none;
  background: none;
  outline: none;
  border: 1px solid #d33f34;
  border-radius: 20px;
  overflow: hidden;
}

.btn .bg {
  width: 101%;
  height: 101%;
  display: block !important;
  z-index: -1;
  opacity: 0;
  transition: all .3s ease-in-out;
  background: linear-gradient(135deg, #a61322, #d33f34);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn:hover {
  color: #fff !important;
  border: 1px solid transparent !important;
}

.btn:hover .bg {
  opacity: 1;
}

/*--------------------
Background
--------------------*/
.bg {
  width: 100%;
  height: 100%;
  background: linear-gradient(15deg, #d33f34 50%, #a61322 50.1%);
  z-index: 1;
  display: none;
}

.toolbar, .shop-item, .switch-view {
  display: flex;
  align-items: center;
}

.toolbar {
  justify-content: flex-end;
  margin: 20px;
}

/*--------------------
List
--------------------*/
.list {
  list-style: none;
  margin: 0;
}

.shop-item {
  justify-content: space-between;
  background: #f5f5f5;
  padding-right: 20px;
  border-bottom: 1px solid #fff;
}

.shop-item .price {
  margin: 0;
}

.thumb {
  width: 140px;
}

.thumb img {
  margin: -40px 0 -10px;
}

.switch-view {
  cursor: pointer;
  color: dimgray;
  transition: color 200ms cubic-bezier(0.4, 0.0, 0.2, 1), background 200ms cubic-bezier(0.4, 0.0, 0.2, 1), box-shadow 400ms cubic-bezier(0.4, 0.0, 0.2, 1);
  border-radius: 50%;
  min-width: 0;
  overflow: visible;
  height: 52px;
  width: 52px;
  justify-content: center;
}

.switch-view:hover {
  background: #f5f5f5;
  color: #23211f;;
}
